Poldifferenz RT_RCDATA "Poldifferenz.csv"
Zeitgleichung RT_RCDATA "Zeitgleichung.csv"
Help1 RT_RCDATA "Help1.rtf"
Help2 RT_RCDATA "Help2.rtf"
Help3 RT_RCDATA "Help3.rtf"
Info RT_RCDATA "Info.rtf"
